<div class="form-outline mb-4">
    <label class="form-label" for="form2Example1">Name</label>
    <input type="text" name="name" id="form2Example1" class="form-control" size="4" maxlength="4" value="<%= author.name %>"/>

</div>